td {
  height: 35px;
  width: 35px;
  text-align: center;

  border: 1px solid black;
}

.header {
  font-weight: bold;
  background-color:#16a085;
}
table.center {
  border-collapse: collapse;  
  background-color: #1abc9c;
  padding: 15px;
  margin-left: auto;
  margin-right:auto;
}
